body {
    background-image: url(/img/ZZ079_020.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.header h1{
    color: antiquewhite;
    text-align: center;
    font-family: 'Dumbledor';
    background-color: black;
    background-image: url(/img/menu-line.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 75px;
    padding: 13px;
    margin-left: 200px;
    margin-right: 200px;
}

.catalog{
    color: rgb(123, 40, 40);
    font-family: 'Dumbledor';
    font-size: larger;
}

.item img{
    max-width: 20%;
}

.item{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color:antiquewhite;
    padding: 5px;
    width: 300px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-right: 10px;
}

.info{
    text-align: left;
}

.code{
    display: block;
    color:#333;
    font-size: 14px;
    margin-bottom: 0;
}

.title{
    font-weight: bold;
    font-size: 16;
    display: block;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color:black
}

button{
    float: right;
}

.footer{
    font-family: 'Dumbledor';
    font-size: larger;
    color: antiquewhite;
    text-align: center;
    background-color: black;
    padding: 13px;
    background-image: url(/img/menu-line.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 75px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer p{
    margin: auto;
    padding: 10px;
    text-align: center;
    bottom: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

.container{
    margin-left: 200px;
    margin-right: 200px;
}

#categories{
    margin-right: 100px;
    margin-left: 690px;
}